<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reddit Django Feed</title>
</head>
<body>
    <h1>Latest Posts from r/django</h1>

    {% if error %}
    <p>{{ error }}</p>
{% elif posts %}
    <ul>
        {% for post in posts %}
            <li>
                <h2>{{ post.title }}</h2>
                <p>Author: {{ post.author }}</p>
                <a href="{{ post.url }}" target="_blank">
                    View Reddit Post
                </a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No Reddit posts are currently available.</p>
{% endif %}
</body>
</html>